  <%= f.error_messages %>

  <div>
    <p>Machine Tools are on Screen 1 and Applications are on Screen 2</p>
    <p style="margin-left: 10px"><%= f.radio_button :application, false %>Screen 1 (Machine Tool/Device)</p>
    <p style="margin-left: 10px"><%= f.radio_button :application, true %>Screen 2 (Web Application)</p>
  </div>
  <br/>

  <p>
    <%= f.check_box :enabled %>
    <%= f.label :enabled %><br />
  </p>
  <p>
    <%= f.label :name, 'Company Name' %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :url, 'URL: ex. http://machine.example.com/Machine' %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :booth, "Location" %><br />
    <%= f.text_field :booth %>
  </p>
  <p>
    <%= f.label :logo_file %><br />
    <%= f.file_field :button_file %>
  </p>
  <p>
    <%= f.label :picture_file %><br />
    <%= f.file_field :picture_file %>
  </p>
