<% if @data.empty? -%>
  <b><em>The <%= @device.name %> machine is currently unavailable.
       Please try again in a few minutes.</em></b>
<% end -%>
<% unless @power.empty? -%>
<table>
  <tr class="title"><td colspan="2">Power</td></tr>
  <% @power.each do |item| -%>
    <tr><td class="label"><%= item.item %></td><td id="value"><%= item.value %></td></tr>
  <% end -%>
</table>
<% end -%>
<% unless @control.empty? -%>
<table>
  <tr class="title"><td colspan="2">Controller</td></tr>
  <% @control.each do |item| -%>
    <tr><td class="label"><%= item.item %></td><td id="value"><%= item.value %></td></tr>
  <% end -%>
</table>
<% end -%>
<% unless @alarm.empty? -%>
<table>
  <tr class="title"><td colspan="3">Alarms</td></tr>
  <% @alarm.each do |item| -%>
    <tr><td class="label"><%= item.value %></td><td id="value"><%= item.state %></td></tr>
  <% end -%>
</table>
<% end -%>
<table>
  <% unless @spindle.empty? -%>
  <tr class="title"><td>Spindle</td><td class="center">Actual Speed</td></tr>
  <% @spindle.each do |item| -%>
    <tr><td class="label"><%= item.component_name %></td>
      <td id="value" class="number"><%= "%12.4f" % item.value.to_f %> rev/min</td></tr>
  <% end -%>
  <% end -%>

  <% unless @linear.empty? -%>
  <tr class="title"><td>Linear</td><td class="center">Actual Position</td></tr>
  <% @linear.each do |item| -%>
    <tr><td class="label"><%= item.component_name %></td>
      <td id="value" class="number"><%= "%12.4f" % item.value.to_f %> mm</td></tr>
  <% end -%>
  <% end -%>

  <% unless @rotary.empty? -%>
    <tr class="title"><td>Rotary</td><td class="center">Actual Angle</td></tr>
    <% @rotary.each do |item| -%>
      <tr><td class="label"><%= item.component_name %></td>
        <td id="value" class="number"><%= "%12.4f" % item.value.to_f %>&deg;</td></tr>
    <% end -%>
  <% end -%>
</table>
