<div id="welcome">
  <div id="container">
    <% j = 0; @devices.each_with_index do |device, i| j = i %>
      <div class="item">
        <%= link_to image_tag('trash.gif'), device, :confirm => 'Are you sure?', :method => :delete,
                    :title => 'delete', :class => 'oper' %>
        <%= link_to image_tag('edit.jpg'), edit_device_url(device), :title => 'edit', :class => 'oper' %>
        <% if device.button -%>
          <%= link_to image_tag(device.button.public_filename(:thumb)), device, :class => 'dev_link' %>
        <% else -%>
	      <%= link_to device.name, device, :class => 'dev_link' %>
        <% end -%>
	  </div>
    <% end -%>
    <div id="separator">Applications</div>
    <% j = 0; @applications.each_with_index do |app, i| j = i %>
      <div class="item">
        <%= link_to image_tag('trash.gif'), app, :confirm => 'Are you sure?', :method => :delete,
                    :title => 'delete', :class => 'oper' %>
        <%= link_to image_tag('edit.jpg'), edit_device_url(app), :title => 'edit', :class => 'oper' %>
        <% if app.button -%>
          <%= link_to image_tag(app.button.public_filename(:thumb)), app, :class => 'dev_link' %>
        <% else -%>
	      <%= link_to app.name, app, :class => 'dev_link' %>
        <% end -%>
	  </div>
    <% end -%>
  </div>
  <%= link_to 'New app', new_device_path, {:class => 'new'} %>
</div>
