<% if @device.application -%>
  <div id="application">
<% else -%>
  <div id="device">
<% end -%>

<a href="/" id="return">Return</a>

<div id="logo">
  <% if @device.button -%>
    <%= image_tag(@device.button.public_filename) %>
  <% else -%>
    <%= @device.name %>
  <% end -%>
</div>

<div id="info">
  <%= @device.description %>
</div>

<div id="booth">
  <%= @device.booth %>
</div>

<% if @device.application -%>
  <%= render :partial => 'application' %>
<% else -%>
  <%= render :partial => 'device' %>
<% end -%>
</div>
