<p>
  <b>Name:</b>
  <%=h @device.name %>
</p>

<p>
  <b>Url:</b>
  <%=h @device.url %>
</p>

<p>
  <b>Description:</b>
  <%=h @device.description %>
</p>

<div id="hmi">
  <%= render :partial => 'hmi'
</div>

<%= periodically_call_remote(:update => 'hmi',
                             :frequency => '2',
                             :url => {:action => 'update_hmi'}) -%>

<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
